/* Reset default css values */

body {
    margin: 0px
}


/* produckt section styles*/

.products {
    background:#253745;
}

.products-content {
    width: 1300px;
    margin: 0px auto;
    display: flex;
    justify-content: flex start;
    }

    .products-content-item {
        background: rgb(133,130,130);
        width: 25%;
        height: 330px;
        margin: 0px 10px;
        border-radius: 10px;
    }