.common {
    height: 150px;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.common-left {
    padding: 0px 25px;
    display: flex;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    }

.common-right {
    display: flex;
    align-items: center;
    

}

a {
    margin-right: 25px;
    background-color: white;
}

.common :first-child i {
    color: blue;
}
.About-me{
    height: 540px;
    width: 1360px;
    border: color red;

}
.About-me-content{
    border: color purple;
}
.About-me-content-items{
    border: color yellow;
}