.common{
    border: 2px solid aqua;
    width: 1350px;
    height: 95px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.common :first-child ul{
    display: flex;
    justify-content: flex-end;
}
.common :last-child ul{
    display: flex;
    justify-content: flex-start;
    
}
